.actual-sidebar {
  height: 100%;
  width: 100%; /* Full width for responsiveness */
  padding: 30px 15px;
  display: flex;
  flex-direction: column;
}

.insight-and-modelName {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.model-name {
  background-color: #ece9e9;
  border-radius: 5px;
  padding: 2px 10px;
  border: 1px solid #bbb;
}

.insight-and-modelName p {
  color: rgb(19, 46, 120);
  font-family: Inter;
  font-weight: bold;
}

.token-and-cost-display {
  border: 1px solid rgb(182, 182, 182);
  padding: 10px;
  box-shadow: 0px 0px 12px #e1e0e0;
  width: 100%; /* Full width for responsiveness */
  border-radius: 10px;
  animation: fade-in 2s;
}

.tokens, .approx-cost, .embed-token, .cumulative-token-cost {
  padding: 2px;
  display: flex;
  flex-direction: column;
  margin: 10px auto;
}

.div-heading {
  font-family: Outfit;
  font-size: 20px;
  margin: 0;
}

.value-title {
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.input-value, .output-values, .total-values {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  gap: 5px;
}

.embed-value-title, .cumulative-value-title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
}

.embed-value-title {
  background-color: #ecf8fffc;
  border-radius: 5px;
}

.numeric-value {
  color: #0d92f4;
  font-weight: bold;
  font-family: Outfit;
  font-size: 20px;
}

.char-value {
  color: grey;
  font-weight: 500;
}

/* Response time and cost */
.response-time-cost {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  background-color: rgb(235, 235, 235);
  font-weight: 500;
  padding: 5px;
  border-radius: 5px;
}

.response-time, .response-cost {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: rgb(79, 78, 78);
}

.reponse-cost span, .reponse-time span {
  font-size: 14px;
  font-family: Outfit;
}

/* Skeleton insights */
.skeleton-insight {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skeleton-insight .shimmer-text {
  font-size: 40px;
  font-family: Roboto;
  font-weight: bold;
  background: linear-gradient(90deg, #b0b0b0 25%, #d0d0d0 50%, #b0b0b0 75%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
  color: transparent; /* Hide the text */
  background-clip: text;
  -webkit-background-clip: text; /* For Safari */
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

@media (max-width: 768px) {
  .actual-sidebar {
    padding: 15px; /* Adjust padding for smaller screens */
  }
}
