.doc-option-div{
    /* border:1px solid red;  */
    padding: 10px;
    display: grid;
}
.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 50px;
    padding: 20px;
  }