.actual-upload{
    background-color: rgba(247, 247, 247, 0.991);
    height: 100%;
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 40px;
    gap: 50px;
}
.file-upload{
    border: 2px dashed #8e8e8edb;
    padding: 20px;
    width: 100%;
    text-align: center;
    padding: 2rem;
    background: #f4f4f4db;
    box-shadow: 
    10px 10px 20px #bebebe, /* Dark shadow */
    -10px -10px 20px #ffffff; /* Light shadow */
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.file-upload  p{
    color: grey;
}
.select-button {
    padding: 0.5rem 1rem;
    color: rgb(91, 88, 88);
    border: none;
    cursor: pointer;
    display: inline-block;
  }

.prototype-name p{
    font-size: 50px;
    font-family:Inter;
    font-weight: bold;
}

