.main-navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: 1px solid green; */
    align-items: center;
    padding: 10px 15px;
    box-shadow: 0px 0px 6px grey;
    width: 100%;

}
.main-navbar-image-logo{
    width: 200px;
}
.main-navbar-image-icon{
    width: 50px;
}