.main-navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 0px 0px 6px grey;
    background-color: white;
    width: 100%;
    /* border: 1px solid red; */
    height: max-content;
}
.main-navbar p{
    margin: 0;
    font-size: 25px;
    font-weight: bold;
}
#customDropdown{
    border: 2px solid grey;
    text-align: left;
    font-weight: 500;
}
#customDropdown .dropdown-toggle::after {
    display: none !important;
  }
  .dropdown-toggle::after {
    display: none !important;
  }