.file-upload {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px dashed rgb(182, 179, 179);
  height: auto;
  width: 80%;
  margin: 0% 10%;
  cursor: pointer;
  padding: 30px 10px;
  border-radius: 5px;
  gap: 20px;
  background-color: rgb(248, 248, 248);
  box-shadow: 0px 0px 8px rgb(182, 181, 181);
  /* margin-bottom: 250px; */
}

.upload-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.ppt_file_icon {
  color: orange;
  border-radius: 10px;
  width: 30px;
  margin-bottom: 4px;
  font-size: 30px;
}
.file-upload-icon-style {
  border-radius: 50%;
  padding: 10px;
  border: 1px solid rgb(192, 190, 190);
  background-color: rgb(238, 237, 237);
  color: #b1b0b0;
}
.file-upload-icon-style:hover {
  color: rgb(95, 93, 93);
  transition: 0.6s ease-in;
}
.file-icon-upload-text {
  color: rgb(184, 184, 184);
  font-weight: 500;
  word-spacing: 1px;
  margin: 0;
  margin-top: 4px;
}
.file-name {
  border: 1px solid rgb(188, 188, 188);
  padding: 10px 20px;
  border-radius: 5px;
}

@media (max-width: 1000px) {
  .file-upload {
    height: auto;
    padding: 30px 10px;
  }

  .ppt_file_icon {
    font-size: 30px;
  }
}
@media (max-width: 768px) {
  .file-upload {
    height: auto;
    padding: 30px 10px;
  }

  .ppt_file_icon {
    font-size: 30px;
  }
}
@media (max-width: 368px) {
  .file-upload {
    height: auto;
    padding: 30px 10px;
  }

  .ppt_file_icon {
    font-size: 30px;
  }
}
@media (max-width: 320px) {
  .file-upload {
    height: auto;
    padding: 30px 10px;
  }

  .ppt_file_icon {
    font-size: 30px;
  }
}
