.custom-dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-header {
    cursor: pointer;
    padding: 2px 4px;
    border-radius: 7px;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    /* width: max-content; */
}

.dropdown-header img {
    border-radius: 5px;
}

.dropdown-header:hover {
    background-color: rgb(235, 233, 233);
    color: black;
}

.dropdown-list {
    position: absolute;
    bottom: 100%; /* Position the dropdown above the header */
    background: white;
    border: none;
    box-shadow: 0px 0px 6px rgb(212, 212, 212);
    list-style: none;
    padding: 5px 10px;
    margin: 0;
    z-index: 1000;
    width: max-content;
    border-radius: 5px;
    outline: none;
    transition: opacity 0.2s ease, visibility 0.2s ease; /* Smooth transition */
    opacity: 0; /* Start hidden */
    visibility: hidden; /* Start hidden */
}

.dropdown-list.show {
    opacity: 1; /* Make it visible */
    visibility: visible; /* Make it visible */
}

.dropdown-list li {
    padding: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.dropdown-list li:hover {
    background: #f0f0f0;
    border-radius: 6px;
}

.dropdown-list li img {
    border-radius: 5px;
}

/* Focus styles for accessibility */
.dropdown-header:focus {
    outline: 2px solid #007bff; /* Change to your preferred focus color */
}

/* Scrollbar for long dropdown lists */
.dropdown-list {
    max-height: 200px; /* Set a max height overflow-y: auto; /* Enable vertical scrolling */
}