.main-app {
  margin: 0;
  padding: 30px;
}

.main-content {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  box-shadow: 0px 0px 10px rgb(233, 232, 232);
  padding: 20px;
}

.upload-area,
.review-area {
  flex: 1;
  min-width: 300px;
  max-width: 48%;
  padding: 10px 15px;
  border: 1px solid rgb(229, 229, 229);
  border-radius: 5px;
  box-sizing: border-box;
}

.upload-area {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 30px;
}

.platform-option {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.platform-label {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  gap: 10px;
}


.review-image img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.caption {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.post-to-platform form {
  display: flex;
  flex-direction: column;
}
.post-to-platform .platform-option {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}
.btn-div {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.btn-div .btn {
  width: 50%;
}
.content-review {
  border: 1px solid rgb(232, 229, 229);

  border-radius: 5px; /* Rounded corners */
  display: flex; /* Enable flex layout */
  flex-direction: column; /* Stack children vertically */
  padding: 10px 15px; /* Add inner spacing */
  gap: 20px; /* Space between child elements */
  width: 90%; /* Set the width to 90% of its container */
  /* height: 100%; */
  margin: 10px auto;
  overflow-y: scroll;
}
.caption-view {

  overflow-y: auto; 
  word-wrap: break-word; 
  white-space: pre-wrap; 
  /* border: 1px solid green; */
  padding: 10px 3px;
  box-sizing: border-box;
  color: rgb(84, 82, 82); 
}
.caption-view::-webkit-scrollbar{
  display: none;
}
.content-review::-webkit-scrollbar {
  display: none;
}

.content-review-image {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.content-review-image img {
  width: 50px;
  border-radius: 50%;
  border: 1px solid #e2e0e0;
}
.image-name-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

@media (max-width: 768px) {
  .main-content {
    flex-direction: column;
  }

  .upload-area,
  .review-area {
    max-width: 100%;
    min-width: 100%;
  }

  .btn-div {
    flex-direction: column;
    gap: 10px;
  }
}
