.greet {
    margin: 40px 0px;
    font-size: 55px;
    color: #383838;
    font-weight: 500;
    padding: 20px;
    /* border: 1px solid red; */
    text-align: center;
  }
  .greet span {
    /* background: -webkit-linear-gradient(15deg, #4b90ff, #ff5546);
    background-clip: text;
    -webkit-text-fill-color: transparent; */
    margin: 0;
  }
  .greetPara2{
    font-weight: 500;
    font-family: Inter!important;
    margin: 0;
  }