.greet {
    margin: 40px 0px;
    font-size: 55px;
    color: #383838;
    font-weight: 500;
    padding: 20px;
    text-align: center;
    /* border: 1px solid red; */
  }
  .greetPara2{
    font-weight: 500;
    font-family: Inter!important;
    margin: 0;
  }