/* Navbar.css */

.homePage-navbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 20px;
  background-color: rgb(244, 244, 244);
  gap: 7px;
  box-shadow: 0px 0px 8px rgb(219, 219, 219);


}

.homePage-navbar img {
  width: 30px;
  height: 40px;
  object-fit: contain;
}

.navbar-title {
  font-size: 25px;
  font-weight: bold;
  margin: 0;
  color: #333;
  margin-left: 10px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .homePage-navbar {
    flex-direction: column;
    text-align: center;
  }

  .navbar-title {
    font-size: 1.2rem;
    margin-top: 10px;
  }

  .homePage-navbar img {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 480px) {
  .homePage-navbar {
    padding: 10px;
  }

  .navbar-title {
    font-size: 1rem;
  }

  .homePage-navbar img {
    width: 25px;
    height: 25px;
  }
}
